*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    display: inline-block;
    text-align: right;
}
.navtop{
    text-align: right;
    align-items: center;
    display: inline-block;
    padding: 10px;
}
ul{
    text-align: right;
}
li a{
    text-decoration: none;
    text-align: right;
    font-size: 30px;
    color: transparent;
    padding:10px;
}
.navbar h1{
    margin: 0;
    position: absolute;
}
li a:hover{
    color: #555;
}
.navbar h1:nth-child(1){
	color: transparent;
	-webkit-text-stroke: 0.3px #03a9f4;
}
.content{
    text-align: center;
}
.content h2{
    text-align: center;
    margin-top: 200px;
    position: absolute;
	font-size: 7em;
}
.content h2:nth-child(1){
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2){
	color: #03a9f4;
	animation: animate 4s ease-in-out infinite;
}
@keyframes animate{
	0%,100%{
		clip-path: polygon(0% 39%, 10% 35%, 22% 38%, 33% 48%, 46% 56%, 62% 54%, 76% 49%, 87% 41%, 100% 34%, 99% 100%, 0% 99%);
	}
	50%{
		clip-path: polygon(0% 43%, 11% 50%, 21% 59%, 33% 65%, 50% 64%, 64% 56%, 70% 45%, 83% 34%, 99% 30%, 100% 100%, 0% 100%);
	}
}
.kyaw h3{
    text-align: center;
    margin-top: 400px;
    position: absolute;
    font-size: 7em;
}
.kyaw h3:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #222;
}
.kyaw h3:nth-child(2){
    color: #222;
    animation: anima 4s ease-out infinite;
}
@keyframes anima{
	0%,100%{
		clip-path: polygon(0% 39%, 10% 35%, 22% 38%, 33% 48%, 46% 56%, 62% 54%, 76% 49%, 87% 41%, 100% 34%, 99% 100%, 0% 99%);
	}
	50%{
		clip-path: polygon(0% 43%, 11% 50%, 21% 59%, 33% 65%, 50% 64%, 64% 56%, 70% 45%, 83% 34%, 99% 30%, 100% 100%, 0% 100%);
	}
}